#title{
    height: 10vh;
    padding-top: 2vh;
    position: relative;
}

.stats p{
    color: rgb(92,189,228);
    font-family: Helvetica, Geneva, sans-serif;
    font-size: 2em;
    margin:0;
}

.stats{
    aspect-ratio: 5 / 1;
    height: 10vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 640px) {
        width: 80%;
      }
}

.icons{
    height: 100%;
    display: flex;
    align-items: center;
}

.dark-icon{
    color: #494E55;
}
.dark-icon:hover{
    color: #000000;
}

.light-icon{
    color: #BABFC2;
}
.light-icon:hover{
    color: #FFFF;
}

.col{
    width: 10%;
}

.tile {
    float: left;
    width: calc(100% - 2px);
    height: calc(10% - 2px);
    background-color: #eee;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.color{
    float: left;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.hover{
    float: left;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.newTurn {
    aspect-ratio: 3 / 1;
    height: 20vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 700px) {
        width: 90%;
      }
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-image: url("/img/empty.png");
    position: relative;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("/img/empty.png");
    position: relative;
    z-index: 5;
    overflow: hidden;
}

img{
    display: block;
    position: absolute;
    z-index: 2
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

#game-board{
    aspect-ratio: 1 / 1;
    height: 50vh;
    padding: 1vh 0vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    @media screen and (max-width: 640px) {
        width: 80%;
        height: 80%;
      }
}

button{
    aspect-ratio: 1 / 1;
    width: 50px;
    border: none;
    background: none;
}

.vanish{
    transform: scale(0);
    transition: transform 0.2s;
}

.dark-theme{
    background-color: #333333;
}

.dark-theme-tile{
    background-color: #666666;
    border: 1px solid #333333;
}

/* Modal styles */
.modal {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: auto !important;
  
    .modal-backdrop {
      background: rgba(0,0,0,0.7);
      height: 100%;
      width: 100%;
      position: absolute;
    }
  
    .modal-content {
      background: #fff;
      border-radius: 5px;
      max-width: 600px;
      position: absolute;
      top: -100%;
      transition: all 0.6s ease;
      z-index: 10;
    }
  
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 1.5rem;
  
      .close-modal {
        font-size: 2rem;
        padding: 0;
        margin: 0;
        height: 30px;
        width: 30px;
        text-align: center;
  
        &:hover {
          color: #000;
        }
      }
    }
  
    .modal-body {
      padding: 1.5rem;
    }

    .modal-content h2, h3, p{
        font-family: Helvetica, Geneva, sans-serif;
        margin:0;
        line-height: 1.6;
        margin-top: 1rem;
    }
  
    &.visible {
        z-index: 10;
        opacity: 1;
        visibility: visible;
  
      .modal-content {
        top: 10%;
        @media screen and (max-width: 640px) {
            top: 0%;
          }
      }
    }
  }
  ol{
    font-family: Helvetica, Geneva, sans-serif;
    line-height: 1.6;
  }